{{ partial "head.html" . }}
<body class="page">
    {{ partial "header.html" . }}
    <main class="page__main main">
        <div class="main__inner">
            <h1 class="visually-hidden">Security master - homepage</h1>
            <section class="banner">
                <div class="banner__inner">
                    <h2 class="visually-hidden">Our services</h2>
                    <div class="banner__image-container">
                        <div class="banner__image">
                        </div>
                        <div class="banner__content">
                            <p class="banner__lead">широкий комплекс технических решений<br> для систем безопасности</p>
                            <h2>Системы<br> видеонаблюдения</h2>
                            <div class="dimensional-container">
                                <a class="button button--navy-yellow" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <ul class="banner__services">
                        <li class="dark-card">
                            <a class="banner__service banner__service--video dark-card__link" href="#">
                                <div class="dark-card__header">
                                    <div class="dark-card__img">
                                        <div class="dark-card__img-inner">
                                        </div>
                                    </div>
                                    <h3 class="dark-card__title">
                                        Монтаж систем видеонаблюдения
                                    </h3>
                                </div>
                                <p class="dark-card__text">
                                    Грамотная установка и настройка систем видеонаблюдения любого уровня сложности под ключ
                                </p>
                            </a>
                        </li>
                        <li class="dark-card">
                            <a class="banner__service banner__service--locksmith dark-card__link" href="#">
                                <div class="dark-card__header">
                                    <div class="dark-card__img">
                                        <div class="dark-card__img-inner">
                                        </div>
                                    </div>
                                    <h3 class="dark-card__title">
                                        Установка охранных систем и сигнализаций
                                    </h3>
                                </div>
                                <p class="dark-card__text">
                                    Построение и монтаж систем безопасности: автономные, пультовые, проводные и беспроводные
                                </p>
                            </a>
                        </li>
                        <li class="dark-card">
                            <a class="banner__service banner__service--access dark-card__link" href="#">
                                <div class="dark-card__header">
                                    <div class="dark-card__img">
                                        <div class="dark-card__img-inner">
                                        </div>
                                    </div>
                                    <h3 class="dark-card__title">
                                        Установка систем IP видеонаблюдения
                                    </h3>
                                </div>
                                <p class="dark-card__text">
                                    Подбор оборудования, инсталяция ПО, вывод системы IP видеонаблюдения в локальную сеть или интернет
                                </p>
                            </a>
                        </li>
                        <li class="dark-card">
                            <a class="banner__service banner__service--safes dark-card__link" href="#">
                                <div class="dark-card__header">
                                    <div class="dark-card__img">
                                        <div class="dark-card__img-inner">
                                        </div>
                                    </div>
                                    <h3 class="dark-card__title">
                                        Системы контроля и управления доступом
                                    </h3>
                                </div>
                                <p class="dark-card__text">
                                    Полный спектр технических средств безопасности для организации доступа и индентификации
                                </p>
                            </a>
                        </li>                    
                    </ul>
                </div>
            </section>
            <section class="advantages">
                <h2 class="visually-hidden">Преимущества работы с нами</h2>
                <div class="advantages__inner">
                    <div class="container">
                        <div class="spacer spacer--64"></div>
                        <ul class="list-checkbox">
                            <li> Мы предлагаем выгодные цены на все виды работ благодаря прямым поставкам оборудования для видеонаблюдения, наличию собственной монтажной бригады и всего инструмента для монтажа.</li>
                            <li>Наши сотрудники ежедневно держат в руках десятки единиц оборудования, что гарантирует профессиональный выбор компонентов для любой системы, на все услуги монтажа предоставляется гарантия.</li>
                            <li>Отличные сроки выполнения работ: установка типовых охранных решений для дома или офиса - один-два дня, индивидуальные охранные системы проектируются и внедряются в минимально возможные сроки.</li>
                            <li>Мы работаем во многих областных центрах Украины и при необходимости выезжаем по городам области, что удобно для крупных предприятий и компаний с разветвленной инфраструктурой.</li>
                        </ul>
                        <div class="spacer spacer--64"></div>
                    </div>
                </div>
            </section>
            <section class="customers">
                <div class="customers__inner">
                    <div class="container">
                        <div class="spacer spacer--48"></div>
                        <div class="spacer spacer--32"></div>
                        <h2 class="title-line">
                            Наши услуги
                        </h2>
                        <p>Среди наших клиентов - сотни предприятий, фирм, организаций по всей территории Украины.</p>
                        <p>Мы установили системы видеонаблюдения, контроля доступа, охранные сигнализации на мебельных фабриках, в супермаркетах, в офисных центрах и отделениях банков, на предприятиях металлургии и пищевой промышленности, а также в частных домах, квартирах и офисах.</p>
                        <div class="spacer spacer--48"></div>
                        <ul class="customer__cards">
                            <li class="customer__card light-card">
                                <a class="light-card__link" href="#">
                                    <div class="light-card__image">
                                        <div class="light-card__image-mask">
                                            <span class="light-card__image-dots"></span>
                                        </div>
                                        <img src="img/customer-card-1.jpeg" alt="Electronic Security">
                                    </div>
                                    <div class="light-card__content">
                                        <h3>Сеть магазинов "Десятка"</h3>
                                        <div class="dimensional-container light-card__button-container">
                                            <span class="button button--navy-yellow">Read more</span>
                                        </div>                                    
                                    </div>
                                </a>
                            </li>
                            <li class="customer__card light-card">
                                <a class="light-card__link" href="#">
                                    <div class="light-card__image">
                                        <div class="light-card__image-mask">
                                            <span class="light-card__image-dots"></span>
                                        </div>
                                        <img src="img/customer-card-2.jpeg" alt="Residential Locksmith">
                                    </div>
                                    <div class="light-card__content">
                                        <h3>ХЗПТО, г. Харьков</h3>
                                        <div class="dimensional-container light-card__button-container">
                                            <span class="button button--navy-yellow">Read more</span>
                                        </div>                                    
                                    </div>
                                </a>
                            </li>
                            <li class="customer__card light-card">
                                <a class="light-card__link" href="#">
                                    <div class="light-card__image">
                                        <div class="light-card__image-mask">
                                            <span class="light-card__image-dots"></span>
                                        </div>
                                        <img src="img/customer-card-3.jpeg" alt="Residential Locksmith">
                                    </div>
                                    <div class="light-card__content">
                                        <h3>Туроператор "itour", г. Киев</h3>
                                        <div class="dimensional-container light-card__button-container">
                                            <span class="button button--navy-yellow">Read more</span>
                                        </div>                                    
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="spacer spacer--48"></div>
                        <div class="spacer spacer--32"></div>
                    </div>
                </div>
            </section>
            <section class="four-steps">
                <div class="four-steps__inner">
                    <div class="spacer spacer--64"></div>
                    <div class="container">
                        <h2 class="four-steps__title">Установка системы безопасности за 4 шага</h2>
                        <div class="spacer spacer--32"></div>
                        <ul class="dropcards-list">
                            <li>
                                <p class="dropcards-list__text">
                                    принимаем заявку и выезжаем на объект для осмотра и составления сметы
                                </p>
                            </li>
                            <li>
                                <p class="dropcards-list__text">
                                    согласовываем оборудование и работы в зависимости от поставленных задач
                                </p>
                            </li>
                            <li>
                                <p class="dropcards-list__text">
                                    монтажная бригада в согласованные сроки выполняет монтаж и сдает объект
                                </p>
                            </li>
                            <li>
                                <p class="dropcards-list__text">
                                    наши специалисты настраивают систему и обучают ваших сотрудников пользоваться ПО и оборудованием
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="spacer spacer--64"></div>
                </div>
            </section>
        </div>
    </main>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>