{{ partial "head.html" . }}
<body class="page">
    {{ partial "header.html" . }}
    <div class="page__layout-container container">
        <main class="page__main main">
            <div class="main__inner">
                <ul class="breadcrumbs">
                    <li>
                        <a class="link breadcrumbs__link link link--dark" href="/">Главная</a>
                    </li>
                    <li>
                        <a  class="link breadcrumbs__link link link--dark">О компании</a>
                    </li>
                </ul>
                <section>
                    <h1 class="visually-hidden">О компании</h1>
                    <p>
                        На протяжении уже более чем 7 лет компания Секьюрити Мастер предоставляет услуги в сфере проектирования и внедрения систем безопасности, контроля доступа и видеонаблюдения на территории Украины. За время работы мы сформировали <b>компетентную команду</b> профессионалов своего дела, обеспечили качественную материально-техническую базу и завоевали доверие множества клиентов по всей стране. Мы работаем, взяв за правило <b>профессионализм</b> и <b>ответственность</b>, поэтому практически все наши заказы становятся основой длительного и плодотворного сотрудничества, а наши заказчики - как небольшие частные предприятия, так и крупные компании и общественные организации - нашими постоянными клиентами. 
                    </p>
                    <p>
                        Нами были разработаны и установлены сотни проектов по обеспечению охраны, среди них сложнейшие <a href="#" class="link link--dark link--underlined"> системы видеонаблюдения</a>, противопожарные и охранные сигнализации, множество охранных пунктов на предприятиях и в частных домовладениях. Использование качественного оборудования и профессиональный монтаж позволяют нам быть уверенными в хорошем результате и предоставить длительные гарантии на все виды заказов. На основе длительного сотрудничества мы предлагаем нашим клиентам послегарантийный сервис систем безопасности.
                    </p>
                    <p>
                        Широкий спектр услуг компании Секьюрити Мастер включает в себя следующие задачи:
                    </p>
                    <ul>
                        <li>
                            <b>монтаж систем видеонаблюдения</b>. Опытная монтажная бригада выполняет все услуги в данной сфере: от подготовительных работ и подбора оборудования до установки, наладки и последующего обслуживания проекта.
                        </li>
                        <li>
                            IP видеонаблюдение предусматривает возможность удаленного слежения за объектом посредством высокотехнологичного оборудования. Наши специалисты смонтируют систему ip камер и регистраторов и установят необходимое программное обеспечение. Возможно обучение охранного персонала работе с системой.
                        </li>
                        <li>
                            <b>установка охранных систем</b> и сигнализации на предприятиях. Охранные датчики различной функциональной направленности, объединенные в эффективную систему безопасности, гарантируют всесторонний контроль ситуации на объекте: от возгорания до взлома и прочих чрезвычайных происшествий.
                        </li>
                        <li>
                            <a class="link link--dark link--underlined" href="#">системы контроля доступа</a> - незаменимый компонент охранной системы на предприятии. Мы предлагаем широкий выбор оборудования от электронных замков до высокотехнологичных биометрических сканирующих устройств.
                        </li>
                    </ul>
                    <p>
                        Наша сеть представительств охватывает практически все регионы Украины, что позволяет нам работать оперативно и слаженно. Менеджеры готовы ответить на все Ваши вопросы и проконсультировать по поводу наших услуг как в телефонном режиме, так и посредством <a href="#" class="link link--dark link--underlined">электронной почты</a>. Для Вас всегда открыты двери наших представительств, адреса которых вы найдете в пункте меню <a href="#" class="link link--dark link--underlined"> Контакты</a>.
                    </p> 
                </section>
            </div>
        </main>
        <aside class="page__aside aside">
            <div class="aside__inner">
                <div class="spacer spacer--16"></div>
                <h2 class="visually-hidden">Aditional info</h2>
                <div class="aside__block">
                    <h3>УСЛУГИ</h3>
                    <ul class="yellow-list">
                        <li>
                            <a class="link link--white" href="#">Установка электромагнитных / электромеханических замков</a>
                        </li>
                        <li>
                            <a  class="link link--white" href="#">Системы контроля доступа</a>
                        </li>
                        <li>
                            <a  class="link link--white" href="#">Монтаж систем видеонаблюдения</a>
                        </li>
                        <li>
                            <a  class="link link--white" href="#">IP видеонаблюдение</a>
                        </li>
                        <li>
                            <a  class="link link--white" href="#">Охранные системы, сигнализации</a>
                        </li>
                        <li>
                            <a  class="link link--white" href="#">Системы распознавания автомобильных номеров</a>
                        </li>
                    </ul>
                </div>
                <div class="divider divider--full" role="separator">
                    <div class="divider__inner divider__inner--dark"></div>
                </div>
                <div class="aside__block">
                    <h3>ГОТОВЫЕ РЕШЕНИЯ</h3>
                    <p>
                        <a  class="link link--white" href="#">Комплект электромагнитного замка TML-200</a>
                    </p>
                    <p>
                        <a  class="link link--white" href="#">Комплект электромагнитного замка TML-300LED</a>
                    </p>
                </div>
                <div class="divider divider--full" role="separator">
                    <div class="divider__inner divider__inner--dark"></div>
                </div>
                <div class="aside__block">
                    <h3>ТЕГИ</h3>
                    <ul class="tags">
                        <li>
                            <a class="tag" href="#">Наши работы</a>
                        </li>
                        <li>
                            <a class="tag" href="#">Новости</a>
                        </li>
                        <!-- <li>
                            <a class="tag" href="#">Business</a>
                        </li>
                        <li>
                            <a class="tag" href="#">Guard</a>
                        </li>
                        <li>
                            <a class="tag" href="#">Lock</a>
                        </li>
                        <li>
                            <a class="tag" href="#">Personal</a>
                        </li>
                        <li>
                            <a class="tag" href="#">System</a>
                        </li> -->
                    </ul>
                </div>
                <div class="spacer spacer--32"></div>
            </div>
        </aside>
    </div>
    <section class="four-steps">
        <div class="four-steps__inner">
            <div class="spacer spacer--64"></div>
            <div class="container">
                <h2 class="four-steps__title">Установка системы безопасности за 4 шага</h2>
                <ul class="dropcards-list">
                    <li>
                        <p class="dropcards-list__text">
                            принимаем заявку и выезжаем на объект для осмотра и составления сметы
                        </p>
                    </li>
                    <li>
                        <p class="dropcards-list__text">
                            согласовываем оборудование и работы в зависимости от поставленных задач
                        </p>
                    </li>
                    <li>
                        <p class="dropcards-list__text">
                            монтажная бригада в согласованные сроки выполняет монтаж и сдает объект
                        </p>
                    </li>
                    <li>
                        <p class="dropcards-list__text">
                            наши специалисты настраивают систему и обучают ваших сотрудников пользоваться ПО и оборудованием 
                        </p>
                    </li>
                </ul>
            </div>
            <div class="spacer spacer--64"></div>
        </div>
    </section>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>