{{ partial "head.html" . }}
<body class="page">
    {{ partial "header.html" . }}
    <main class="page__main main">
        <div class="main__inner">
            <div class="container">
                <h1 class="visually-hidden">Контакты</h1>
                <ul class="breadcrumbs">
                    <li>
                        <a class="link breadcrumbs__link link link--dark" href="/">Главная</a>
                    </li>
                    <li>
                        <a  class="link breadcrumbs__link link link--dark">Контакты</a>
                    </li>
                </ul>
                <section>
                    <h1 class="centered-text">
                        Контакты
                    </h1>
                    <p>
                        Наш головной офис расположен в г. Харьков, региональное представительство работает в городе Киев, Одесса, Полтава, Сумы, Житомир, Днепропетровск, Хмельницкий, Тернополь и др. работают региональные представительства. В любом из этих городов Вы можете получить качественный монтаж в сжатые сроки.<br>
                        Также мы осуществляем монтаж систем безопасности по всей территории Украины с выездом монтажной бригады из ближайшего города. 
                    </p>
                    <p>
                        Мы проводим монтажные работы, устанавливаем все необходимое для работы системы программное обеспечение, а также обучаем сотрудников заказчика работать с системой. Также возможен вывод системы видеонаблюдения в локальную сеть или вывод в Интернет при необходимости удаленного доступа к системе. После запуска системы обеспечиваем полное сервисное обслуживание системы, модернизацию, расширение, перестроение системы. Звоните или пишите нам, если у Вас есть вопросы!
                    </p>
                </section>
                <section>
                    <div class="spacer spacer--64"></div>
                    <div class="contact-form">
                        <div class="spacer spacer--16"></div>
                        <form method="POST" action="https://some-site.com">
                            <div class="contact-form__inner">
                                <div class="contact-form__field-container dimensional-container">
                                    <label class="visually-hidden" for="user-name">
                                        
                                    </label>
                                    <input class="field" type="text" name="user-name" id="user-name" placeholder="Ваше имя *">
                                </div>
                                <div class="contact-form__field-container dimensional-container">
                                    <label class="visually-hidden" for="user-email">
                                        
                                    </label>
                                    <input class="field" type="email" name="user-name" id="user-name" placeholder="Телефон ">
                                </div>
                                <div class="contact-form__field-container dimensional-container">
                                    <label class="visually-hidden" for="user-phone">
                                        
                                    </label>
                                    <input class="field" type="tel" name="user-phone" id="user-phone" placeholder="E-mail *">
                                </div>
                                <div class="contact-form__field-container contact-form__field-container--full dimensional-container">
                                    <label class="visually-hidden" for="user-message">
                                        
                                    </label>
                                    <textarea class="field" name="user-message" id="user-message" placeholder="Сообщение *"></textarea>
                                </div>
                                <div class="contact-form__field-container contact-form__field-container--full contact-form__field-container--centered dimensional-container">
                                    <button class="button button--navy-yellow" type="submit">Отправить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="spacer spacer--64"></div>
                </section>
            </div>
            <section>
                <div class="google-map" style="position: relative; width: 100%; padding-bottom: 500px; background-color: #e6e4e0; overflow: hidden;">
                    <img src="{{ .Site.BaseURL }}img/map_1.png" width="1440" height="500" alt="Наш адрес: ул. Никольско-Слободская, 1А, Киев, 02000" style="position: absolute; z-index: 1; width: 100%; height: 100%; object-fit: cover;">
                    <p class="google-map__tooltip" style="position: absolute; bottom: 0; left: 50%; z-index: 2; color: #4C4B51; background-color: #FFFFFF; transform: translateX(-50%);">
                        <a href="https://goo.gl/maps/pwKgzyFooga5xaj77">ул. Никольско-Слободская, 1А, Киев, 02000</a>
                    </p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.2783659206325!2d30.590997515896095!3d50.45454089495087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cfef3584c97f%3A0x99eb82ce15c5f48a!2zMUEsINGD0LsuINCd0LjQutC-0LvRjNGB0LrQvi3QodC70L7QsdC-0LTRgdC60LDRjywgMdCQLCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1617097084212!5m2!1sru!2sua" height="500" style="position: absolute; z-index: 3; display: block; width: 100%; border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </section>
        </div>
    </main>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>