{{ partial "head.html" . }}
<body class="page">
    {{ partial "header.html" . }}
    <main class="page__main main">
        <div class="main__inner">
            <h1 class="visually-hidden">Security master - homepage</h1>
            <section class="banner">
                <div class="banner__inner">
                    <h2 class="visually-hidden">Our services</h2>
                    <div class="banner__image-container">
                        <div class="banner__image">
                        </div>
                        <div class="banner__content">
                            <p class="banner__lead">Trusted Professionals</p>
                            <h2>Your Security Is<br> Our Priority</h2>
                            <div class="dimensional-container">
                                <a class="button button--navy-yellow" href="#">Discover more</a>
                            </div>
                        </div>
                    </div>
                    <ul class="banner__services">
                        <li class="dark-card">
                            <a class="banner__service banner__service--video dark-card__link" href="#">
                                <div class="dark-card__img">
                                    <div class="dark-card__img-inner">
                                    </div>
                                </div>
                                <h3 class="dark-card__title">
                                    Video Surveillance
                                </h3>
                            </a>
                        </li>
                        <li class="dark-card">
                            <a class="banner__service banner__service--locksmith dark-card__link" href="#">
                                <div class="dark-card__img">
                                    <div class="dark-card__img-inner">
                                    </div>
                                </div>
                                <h3 class="dark-card__title">
                                    Locksmith Services
                                </h3>
                            </a>
                        </li>
                        <li class="dark-card">
                            <a class="banner__service banner__service--access dark-card__link" href="#">
                                <div class="dark-card__img">
                                    <div class="dark-card__img-inner">
                                    </div>
                                </div>
                                <h3 class="dark-card__title">
                                    Access Control
                                </h3>
                            </a>
                        </li>
                        <li class="dark-card">
                            <a class="banner__service banner__service--safes dark-card__link" href="#">
                                <div class="dark-card__img">
                                    <div class="dark-card__img-inner">
                                    </div>
                                </div>
                                <h3 class="dark-card__title">
                                    Safes & Locks
                                </h3>
                            </a>
                        </li>                    
                    </ul>
                </div>
            </section>
            <section class="advantages">
                <h2 class="visually-hidden">advantages of working with us</h2>
                <div class="advantages__inner">
                    <div class="container">
                        <div class="spacer spacer--64"></div>
                        <ul class="list-checkbox">
                            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore cum accusamus quo atque fugiat, animi sapiente totam voluptatum consequuntur doloribus libero id eius quasi cumque alias temporibus quos ea porro!</li>
                            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore cum accusamus quo atque fugiat, animi sapiente totam voluptatum consequuntur doloribus libero id eius quasi cumque alias temporibus quos ea porro!</li>
                            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore cum accusamus quo atque fugiat, animi sapiente totam voluptatum consequuntur doloribus libero id eius quasi cumque alias temporibus quos ea porro!</li>
                            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore cum accusamus quo atque fugiat, animi sapiente totam voluptatum consequuntur doloribus libero id eius quasi cumque alias temporibus quos ea porro!</li>
                        </ul>
                        <div class="spacer spacer--64"></div>
                    </div>
                </div>
            </section>
            <section class="customers">
                <div class="customers__inner">
                    <div class="container">
                        <div class="spacer spacer--48"></div>
                        <div class="spacer spacer--32"></div>
                        <h2 class="title-line">
                            Our services
                        </h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum voluptates non cum distinctio rem aliquid placeat natus voluptas quidem odio saepe itaque consequuntur consequatur, culpa iste. Voluptate quaerat soluta eum?</p>
                        <div class="spacer spacer--48"></div>
                        <ul class="customer__cards">
                            <li class="customer__card light-card">
                                <a class="light-card__link" href="#">
                                    <div class="light-card__image">
                                        <div class="light-card__image-mask">
                                            <span class="light-card__image-dots"></span>
                                        </div>
                                        <img src="img/customer-card-1.jpeg" alt="Electronic Security">
                                    </div>
                                    <div class="light-card__content">
                                        <h3>Electronic Security</h3>
                                        <p>Lorem ipsum consectetur adipisicing elit, sed do eiusmod tempor incidi dunt ut labore et dolore m aliqua.</p>
                                        <div class="dimensional-container">
                                            <span class="button button--navy-yellow">Read more</span>
                                        </div>                                    
                                    </div>
                                </a>
                            </li>
                            <li class="customer__card light-card">
                                <a class="light-card__link" href="#">
                                    <div class="light-card__image">
                                        <div class="light-card__image-mask">
                                            <span class="light-card__image-dots"></span>
                                        </div>
                                        <img src="img/customer-card-2.jpeg" alt="Residential Locksmith">
                                    </div>
                                    <div class="light-card__content">
                                        <h3>Electronic Security</h3>
                                        <p>Lorem ipsum consectetur adipisicing elit, sed do eiusmod tempor incidi dunt ut labore et dolore m aliqua.</p>
                                        <div class="dimensional-container">
                                            <span class="button button--navy-yellow">Read more</span>
                                        </div>                                    
                                    </div>
                                </a>
                            </li>
                            <li class="customer__card light-card">
                                <a class="light-card__link" href="#">
                                    <div class="light-card__image">
                                        <div class="light-card__image-mask">
                                            <span class="light-card__image-dots"></span>
                                        </div>
                                        <img src="img/customer-card-3.jpeg" alt="Residential Locksmith">
                                    </div>
                                    <div class="light-card__content">
                                        <h3>Electronic Security</h3>
                                        <p>Lorem ipsum consectetur adipisicing elit, sed do eiusmod tempor incidi dunt ut labore et dolore m aliqua.</p>
                                        <div class="dimensional-container">
                                            <span class="button button--navy-yellow">Read more</span>
                                        </div>                                    
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="spacer spacer--48"></div>
                        <div class="spacer spacer--32"></div>
                    </div>
                </div>
            </section>
            <section class="four-steps">
                <div class="four-steps__inner">
                    <div class="spacer spacer--64"></div>
                    <div class="container">
                        <h2 class="four-steps__title">Dropcards</h2>
                        <ul class="dropcards-list">
                            <li>
                                <p class="dropcards-list__text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsam blanditiis dolorum accusamus incidunt, nihil molestiae ex quas reiciendis maxime ullam dicta earum fugit voluptatibus non magnam numquam. Adipisci, provident.
                                </p>
                            </li>
                            <li>
                                <p class="dropcards-list__text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsam blanditiis dolorum accusamus incidunt, nihil molestiae ex quas reiciendis maxime ullam dicta earum fugit voluptatibus non magnam numquam. Adipisci, provident.
                                </p>
                            </li>
                            <li>
                                <p class="dropcards-list__text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsam blanditiis dolorum accusamus incidunt, nihil molestiae ex quas reiciendis maxime ullam dicta earum fugit voluptatibus non magnam numquam. Adipisci, provident.
                                </p>
                            </li>
                            <li>
                                <p class="dropcards-list__text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsam blanditiis dolorum accusamus incidunt, nihil molestiae ex quas reiciendis maxime ullam dicta earum fugit voluptatibus non magnam numquam. Adipisci, provident.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="spacer spacer--64"></div>
                </div>
            </section>
        </div>
    </main>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>