{{ partial "head.html" . }}
<body class="page">
    {{ partial "header.html" . }}
    <div class="page__layout-container container">
        <main class="page__main main">
            <div class="main__inner">
                <h1 class="visually-hidden">Оборудование</h1>
                <ul class="breadcrumbs">
                    <li>
                        <a class="link breadcrumbs__link link link--dark" href="/">Главная</a>
                    </li>
                    <li>
                        <a  class="link breadcrumbs__link link link--dark">Оборудование</a>
                    </li>
                </ul>
                <section>
                    <h2 class="visually-hidden">Our equipment manufacturers</h2>
                    <article class="equipment-card">
                        <div class="equipment-card__inner">
                            <div class="equipment-card__image">
                                <div class="equipment-card__image-inner">
                                    <img src="{{ .Site.BaseURL }}img/commax.png" alt="commax image">
                                </div>
                            </div>
                            <div class="equipment__content">
                                <h3>ОБОРУДОВАНИЕ COMMAX</h3>
                                <p>
                                    Компания Commax однин из крупнейших южнокорейских поставщиков систем безопасности для дома и офиса в мире, бренд которой известен в большинстве странах мира своими домофонными системами и переговорными устройствами. Начиная с 1968 года, года...    
                                </p>
                                <div class="dimensional-container">
                                    <a class="button button--yellow-navy" href="#">читать далее...</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="divider " role="separator">
                        <div class="divider__inner divider__inner--grey"></div>
                    </div>
                    <article class="equipment-card">
                        <div class="equipment-card__inner">
                            <div class="equipment-card__image">
                                <div class="equipment-card__image-inner">
                                    <img src="{{ .Site.BaseURL }}img/jablotron.png" alt="Manufacturer image">
                                </div>
                            </div>
                            <div class="equipment__content">
                                <h3>Оборудование Jablotron</h3>
                                <p>
                                    Созданная в 1990 году компания Jablotron сейчас насчитывает более 200 сотрудников в своем штате. Специализацией компании является разработка, а также производство систем безопасности для автомобилей и дома. Главный офис компании, отдел разработки и...
                                </p>
                                <div class="dimensional-container">
                                    <a class="button button--yellow-navy" href="#">читать далее...</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="divider" role="separator">
                        <div class="divider__inner divider__inner--grey"></div>
                    </div>
                    <article class="equipment-card">
                        <div class="equipment-card__inner">
                            <div class="equipment-card__image">
                                <div class="equipment-card__image-inner">
                                    <img src="{{ .Site.BaseURL }}img/novus.png" alt="novus image">
                                </div>
                            </div>
                            <div class="equipment__content">
                                <h3>ОБОРУДОВАНИЕ NOVUS</h3>
                                <p>
                                    Оборудование под брендом Novus производит компания AAT Holding sp. z o.o, которая находится в Польше. Находясь на рынке безопасности чуть более 15 лет, ее продукция же завоевала Европу и многие постсоветские страны. Основными направлениями компании...
                                </p>
                                <div class="dimensional-container">
                                    <a class="button button--yellow-navy" href="#">читать далее...</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="divider" role="separator">
                        <div class="divider__inner divider__inner--grey"></div>
                    </div>
                    <article class="equipment-card">
                        <div class="equipment-card__inner">
                            <div class="equipment-card__image">
                                <div class="equipment-card__image-inner">
                                    <img src="{{ .Site.BaseURL }}img/axis.png" alt="axis image">
                                </div>
                            </div>
                            <div class="equipment__content">
                                <h3>ОБОРУДОВАНИЕ AXIS</h3>
                                <p>
                                    Шведская компания Axis Communications один из мировых лидеров по производству оборудования для сетевого видеонаблюения. Первая IP видеокамера была выпущенная в мире в 1996 году и создавалась в стенах этой компании. Это послужило революциейи в сфере...
                                </p>
                                <div class="dimensional-container">
                                    <a class="button button--yellow-navy" href="#">читать далее...</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="divider" role="separator">
                        <div class="divider__inner divider__inner--grey"></div>
                    </div>
                    <article class="equipment-card">
                        <div class="equipment-card__inner">
                            <div class="equipment-card__image">
                                <div class="equipment-card__image-inner">
                                    <img src="{{ .Site.BaseURL }}img/samsung.png" alt="samsung image">
                                </div>
                            </div>
                            <div class="equipment__content">
                                <h3>ОБОРУДОВАНИЕ SAMSUNG</h3>
                                <p>
                                    Бренд Samsung на украинском рынке известен уже несколько десятилетий, прежде всего по бытовой технике и видео-аудио аппаратуре, производимой компанией Samsung Electronics. Но в мире бренд широко популярен также оборудованием для сферы систем... 
                                </p>
                                <div class="dimensional-container">
                                    <a class="button button--yellow-navy" href="#">читать далее...</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="divider" role="separator">
                        <div class="divider__inner divider__inner--grey"></div>
                    </div>
                    <article class="equipment-card">
                        <div class="equipment-card__inner">
                            <div class="equipment-card__image">
                                <div class="equipment-card__image-inner">
                                    <img src="{{ .Site.BaseURL }}img/bosch.png" alt="bosch image">
                                </div>
                            </div>
                            <div class="equipment__content">
                                <h3>ОБОРУДОВАНИЕ BOSCH</h3>
                                <p>
                                    Группа компаний Bosch является ведущим поставщиком в сфере технологий и услуг. Bosch производит широкий спектр оборудования в различных сферах нашей жизни. Основными направлениями являются автомобильные запчасти и оборудование, термотехника,...
                                </p>
                                <div class="dimensional-container">
                                    <a class="button button--yellow-navy" href="#">читать далее...</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="divider" role="separator">
                        <div class="divider__inner divider__inner--grey"></div>
                    </div>
                    <article class="equipment-card">
                        <div class="equipment-card__inner">
                            <div class="equipment-card__image">
                                <div class="equipment-card__image-inner">
                                    <img typeof="foaf:Image" src="http://securitymaster.com.ua/sites/default/files/styles/medium/public/images/ildvr.jpg?itok=l6OH8B41" width="220" height="220" alt="">
                                </div>
                            </div>
                            <div class="equipment__content">
                                <h3>
                                    ОБОРУДОВАНИЕ ILDVR
                                </h3>
                                <p>
                                    Основанная в 2001 году, американская компания ILDVR Digital Technology очень быстро завоевала мировой рынок в сфере охранного видеонаблюдения. Оборудование продается более чем в 50 странах Мира. Имеет представительства в Европе и Украине....
                                </p>
                                <div class="dimensional-container">
                                    <a class="button button--yellow-navy" href="#">читать далее...</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="divider" role="separator">
                        <div class="divider__inner divider__inner--grey"></div>
                    </div>
                    <article class="equipment-card">
                        <div class="equipment-card__inner">
                            <div class="equipment-card__image">
                                <div class="equipment-card__image-inner">
                                    <img typeof="foaf:Image" src="http://securitymaster.com.ua/sites/default/files/styles/medium/public/images/dahua_0.jpg?itok=ZESQDUwe" width="220" height="220" alt="">
                                </div>
                            </div>
                            <div class="equipment__content">
                                <h3>
                                    ОБОРУДОВАНИЕ DAHUA
                                </h3>
                                <p>
                                    Китайская компания Dahua Technology является ведущим поставщиком готовых решений в сфере видеонаблюдения в Мире. Имеет в своем штате собственную профессиональную команду разработчиков и исследователей. Представительства Dahua Technology есть на всех...
                                </p>
                                <div class="dimensional-container">
                                    <a class="button button--yellow-navy" href="#">читать далее...</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="divider" role="separator">
                        <div class="divider__inner divider__inner--grey"></div>
                    </div>
                    <article class="equipment-card">
                        <div class="equipment-card__inner">
                            <div class="equipment-card__image">
                                <div class="equipment-card__image-inner">
                                    <img typeof="foaf:Image" src="http://securitymaster.com.ua/sites/default/files/styles/medium/public/images/hikvision.jpg?itok=sOB1YICd" width="220" height="220" alt="">
                                </div>
                            </div>
                            <div class="equipment__content">
                                <h3>ОБОРУДОВАНИЕ HIKVISION</h3>
                                <p>
                                    Компания Hikvision является крупнейшим в Мире производителем оборудования для видеонаблюдения. Основанная в 2001 году в Китае, компания на сегодняшний день имеет более 3-х десятков филиалов на всей территории государства, и более десятка во всем...
                                </p>
                                <div class="dimensional-container">
                                    <a class="button button--yellow-navy" href="#">читать далее...</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="divider" role="separator">
                        <div class="divider__inner divider__inner--grey"></div>
                    </div>
                </section>

            </div>
        </main>
        <aside class="page__aside aside">
            <div class="aside__inner">
                <div class="spacer spacer--16"></div>
                <h2 class="visually-hidden">Aditional info</h2>
                <div class="aside__block">
                    <h3>УСЛУГИ</h3>
                    <ul class="yellow-list">
                        <li>
                            <a class="link link--white" href="#">Установка электромагнитных / электромеханических замков</a>
                        </li>
                        <li>
                            <a  class="link link--white" href="#">Системы контроля доступа</a>
                        </li>
                        <li>
                            <a  class="link link--white" href="#">Монтаж систем видеонаблюдения</a>
                        </li>
                        <li>
                            <a  class="link link--white" href="#">IP видеонаблюдение</a>
                        </li>
                        <li>
                            <a  class="link link--white" href="#">Охранные системы, сигнализации</a>
                        </li>
                        <li>
                            <a  class="link link--white" href="#">Системы распознавания автомобильных номеров</a>
                        </li>
                    </ul>
                </div>
                <div class="divider divider--full" role="separator">
                    <div class="divider__inner divider__inner--dark"></div>
                </div>
                <div class="aside__block">
                    <h3>ГОТОВЫЕ РЕШЕНИЯ</h3>
                    <p>
                        <a  class="link link--white" href="#">Комплект электромагнитного замка TML-200</a>
                    </p>
                    <p>
                        <a  class="link link--white" href="#">Комплект электромагнитного замка TML-300LED</a>
                    </p>
                </div>
                <div class="divider divider--full" role="separator">
                    <div class="divider__inner divider__inner--dark"></div>
                </div>
                <div class="aside__block">
                    <h3>ТЕГИ</h3>
                    <ul class="tags">
                        <li>
                            <a class="tag" href="#">Наши работы</a>
                        </li>
                        <li>
                            <a class="tag" href="#">Новости</a>
                        </li>
                        <!-- <li>
                            <a class="tag" href="#">Business</a>
                        </li>
                        <li>
                            <a class="tag" href="#">Guard</a>
                        </li>
                        <li>
                            <a class="tag" href="#">Lock</a>
                        </li>
                        <li>
                            <a class="tag" href="#">Personal</a>
                        </li>
                        <li>
                            <a class="tag" href="#">System</a>
                        </li> -->
                    </ul>
                </div>
                <div class="spacer spacer--32"></div>
            </div>
        </aside>
    </div>
    <section class="four-steps">
        <div class="four-steps__inner">
            <div class="spacer spacer--64"></div>
            <div class="container">
                <h2 class="four-steps__title">Установка системы безопасности за 4 шага</h2>
                <ul class="dropcards-list">
                    <li>
                        <p class="dropcards-list__text">
                            принимаем заявку и выезжаем на объект для осмотра и составления сметы
                        </p>
                    </li>
                    <li>
                        <p class="dropcards-list__text">
                            согласовываем оборудование и работы в зависимости от поставленных задач
                        </p>
                    </li>
                    <li>
                        <p class="dropcards-list__text">
                            монтажная бригада в согласованные сроки выполняет монтаж и сдает объект
                        </p>
                    </li>
                    <li>
                        <p class="dropcards-list__text">
                            наши специалисты настраивают систему и обучают ваших сотрудников пользоваться ПО и оборудованием 
                        </p>
                    </li>
                </ul>
            </div>
            <div class="spacer spacer--64"></div>
        </div>
    </section>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>