{{ partial "head.html" . }}
<body class="page">
    {{ partial "header.html" . }}
    <div class="page__layout-container container">
        <main class="page__main main">
            <div class="main__inner">
                <h1 class="visually-hidden">Пресс-центр</h1>
                <ul class="breadcrumbs">
                    <li>
                        <a class="link breadcrumbs__link link link--dark" href="/">Главная</a>
                    </li>
                    <li>
                        <a  class="link breadcrumbs__link link link--dark">Пресс-центр</a>
                    </li>
                </ul>
                <section>
                    <h2 class="visually-hidden">Пресс-центр</h2>
                    <article class="shop-card">
                        <div class="shop-card__inner">
                            <div class="shop-card__image">
                                <div class="shop-card__image-inner">
                                    <img src="{{ .Site.BaseURL }}img/shop-card-1.jpeg" alt="Post image">
                                </div>
                            </div>
                            <div class="shop-card__content">
                                <div class="dimensional-container">
                                    <a class="shop-card__link link link--dark" href="#">
                                        28/03/2019
                                    </a>
                                </div>
                                <h3>Сеть магазинов "Десятка"</h3>
                                <p>
                                    Установка системы безопасности для сети магазинов "Десятка" проводилась в несколько этапов: анализ схем расположения касс и торгового оборудования в торговых залах и в складских помещениях построение и монтаж системы видеонаблюдения в торговых залах и на складе установка наружного видеонаблюдения...
                                </p>
                                    
                                <div class="shop-card__buttons-container">
                                    <div class="dimensional-container">
                                        <a class="button button--navy-yellow" href="#">читать далее</a>
                                    </div>
                                    <div class="dimensional-container">
                                        <a class="shop-card__link link link--dark" href="#">
                                            Больше из раздела
                                        </a>
                                    </div>
                                    <div class="dimensional-container">
                                        <a class="shop-card__link link link--dark" href="#">
                                            Наши работы
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="spacer spacer--16"></div>
                    <div class="divider" role="separator">
                        <div class="divider__inner divider__inner--grey"></div>
                    </div>
                    <div class="spacer spacer--16"></div>
                    <article class="shop-card">
                        <div class="shop-card__inner">
                            <div class="shop-card__image">
                                <div class="shop-card__image-inner">
                                    <img src="{{ .Site.BaseURL }}img/shop-card-2.jpeg" alt="Post image">
                                </div>
                            </div>
                            <div class="shop-card__content">
                                <div class="dimensional-container">
                                    <a class="shop-card__link link link--dark" href="#">
                                        02/03/2019
                                    </a>
                                </div>
                                <h3>"Expert Security - 2019"</h3>
                                <p>
                                    С 8 по 11 октября в Киеве пройдет Международная выставка "Expert Security - 2019". Одно из самых значимых отраслевых мероприятий детально представит новинки рынка оборудования всех категорий, а также предложит сегментированную экспозицию передовых технологий.
                                </p>
                                <p>
                                    Компания СекьюритиМастер... 
                                </p>                                    
                                <div class="shop-card__buttons-container">
                                    <div class="dimensional-container">
                                        <a class="button button--navy-yellow" href="#">читать далее</a>
                                    </div>
                                    <div class="dimensional-container">
                                        <a class="shop-card__link link link--dark" href="#">
                                            Больше из раздела
                                        </a>
                                    </div>
                                    <div class="dimensional-container">
                                        <a class="shop-card__link link link--dark" href="#">
                                            Новости
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="spacer spacer--16"></div>
                    <div class="divider" role="separator">
                        <div class="divider__inner divider__inner--grey"></div>
                    </div>
                    <div class="spacer spacer--16"></div>
                    <article class="shop-card">
                        <div class="shop-card__inner">
                            <div class="shop-card__image">
                                <div class="shop-card__image-inner">
                                    <img src="{{ .Site.BaseURL }}img/shop-card-3.jpeg" alt="Post image">
                                </div>
                            </div>
                            <div class="shop-card__content">
                                <div class="dimensional-container">
                                    <a class="shop-card__link link link--dark" href="#">
                                        24/01/2019
                                    </a>
                                </div>
                                <h3>
                                    ХЗПТО, г. Харьков
                                </h3>
                                <p>
                                    На предприятии были проведены следующие работы по устройству системы безопасности: проектирование охранной сигнализации, подбор оборудования для сигнализации в заводские цеха монтаж охранной сигнализации в цехах построение системы контроля доступа в складские помещения монтаж СКУД на складах... 
                                </p>
                                    
                                <div class="shop-card__buttons-container">
                                    <div class="dimensional-container">
                                        <a class="button button--navy-yellow" href="#">читать далее</a>
                                    </div>
                                    <div class="dimensional-container">
                                        <a class="shop-card__link link link--dark" href="#">
                                            Больше из раздела
                                        </a>
                                    </div>
                                    <div class="dimensional-container">
                                        <a class="shop-card__link link link--dark" href="#">
                                            Наши работы
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="spacer spacer--16"></div>
                    <div class="divider" role="separator">
                        <div class="divider__inner divider__inner--grey"></div>
                    </div>
                    <div class="spacer spacer--16"></div>
                    <article class="shop-card">
                        <div class="shop-card__inner">
                            <div class="shop-card__image">
                                <div class="shop-card__image-inner">
                                    <img src="{{ .Site.BaseURL }}img/itour.png" alt="Post image">
                                </div>
                            </div>
                            <div class="shop-card__content">
                                <div class="dimensional-container">
                                    <a class="shop-card__link link link--dark" href="#">
                                        10/01/2019
                                    </a>
                                </div>
                                <h3>Туроператор "itour", г. Киев</h3>
                                <p>
                                    В офисе компании IT-tour были проведены следующие работы: подбор и поставка оборудования построение корпоративной локальной сети установка ip-видеонаблюдения и настройка системы для работы в интернет и в интранет сетях
                                </p>
                                    
                                <div class="shop-card__buttons-container">
                                    <div class="dimensional-container">
                                        <a class="button button--navy-yellow" href="#">читать далее</a>
                                    </div>
                                    <div class="dimensional-container">
                                        <a class="shop-card__link link link--dark" href="#">
                                            Больше из раздела
                                        </a>
                                    </div>
                                    <div class="dimensional-container">
                                        <a class="shop-card__link link link--dark" href="#">
                                            Наши работы
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="spacer spacer--16"></div>
                    <div class="divider" role="separator">
                        <div class="divider__inner divider__inner--grey"></div>
                    </div>
                    <div class="spacer spacer--16"></div>
                    <article class="shop-card">
                        <div class="shop-card__inner">
                            <div class="shop-card__image">
                                <div class="shop-card__image-inner">
                                    <img src="{{ .Site.BaseURL }}img/shop-card-5.jpeg" alt="Post image">
                                </div>
                            </div>
                            <div class="shop-card__content">
                                <div class="dimensional-container">
                                    <a class="shop-card__link link link--dark" href="#">
                                        18/01/2018
                                    </a>
                                </div>
                                <h3>НКМЗ, г. Краматорск</h3>
                                <p>
                                    Для Новокраматорского машиностроительного завода нами была проведена комплексная работа по проектированию и внедрению сложной системы безопасности:
                                </p>
                                <p>
                                    подробный проект системы безопасности, подбор оборудования монтаж системы видеонаблюдения в промышленных цехах для контроля производственных...
                                </p>    
                                <div class="shop-card__buttons-container">
                                    <div class="dimensional-container">
                                        <a class="button button--navy-yellow" href="#">читать далее</a>
                                    </div>
                                    <div class="dimensional-container">
                                        <a class="shop-card__link link link--dark" href="#">
                                            Больше из раздела
                                        </a>
                                    </div>
                                    <div class="dimensional-container">
                                        <a class="shop-card__link link link--dark" href="#">
                                            Наши работы
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="spacer spacer--16"></div>
                    <div class="divider" role="separator">
                        <div class="divider__inner divider__inner--grey"></div>
                    </div>
                    <div class="spacer spacer--16"></div>
                </section>

            </div>
        </main>
        <aside class="page__aside aside">
            <div class="aside__inner">
                <div class="spacer spacer--16"></div>
                <h2 class="visually-hidden">Aditional info</h2>
                <div class="aside__block">
                    <h3>УСЛУГИ</h3>
                    <ul class="yellow-list">
                        <li>
                            <a class="link link--white" href="#">Установка электромагнитных / электромеханических замков</a>
                        </li>
                        <li>
                            <a  class="link link--white" href="#">Системы контроля доступа</a>
                        </li>
                        <li>
                            <a  class="link link--white" href="#">Монтаж систем видеонаблюдения</a>
                        </li>
                        <li>
                            <a  class="link link--white" href="#">IP видеонаблюдение</a>
                        </li>
                        <li>
                            <a  class="link link--white" href="#">Охранные системы, сигнализации</a>
                        </li>
                        <li>
                            <a  class="link link--white" href="#">Системы распознавания автомобильных номеров</a>
                        </li>
                    </ul>
                </div>
                <div class="divider divider--full" role="separator">
                    <div class="divider__inner divider__inner--dark"></div>
                </div>
                <div class="aside__block">
                    <h3>ГОТОВЫЕ РЕШЕНИЯ</h3>
                    <p>
                        <a  class="link link--white" href="#">Комплект электромагнитного замка TML-200</a>
                    </p>
                    <p>
                        <a  class="link link--white" href="#">Комплект электромагнитного замка TML-300LED</a>
                    </p>
                </div>
                <div class="divider divider--full" role="separator">
                    <div class="divider__inner divider__inner--dark"></div>
                </div>
                <div class="aside__block">
                    <h3>ТЕГИ</h3>
                    <ul class="tags">
                        <li>
                            <a class="tag" href="#">Наши работы</a>
                        </li>
                        <li>
                            <a class="tag" href="#">Новости</a>
                        </li>
                        <!-- <li>
                            <a class="tag" href="#">Business</a>
                        </li>
                        <li>
                            <a class="tag" href="#">Guard</a>
                        </li>
                        <li>
                            <a class="tag" href="#">Lock</a>
                        </li>
                        <li>
                            <a class="tag" href="#">Personal</a>
                        </li>
                        <li>
                            <a class="tag" href="#">System</a>
                        </li> -->
                    </ul>
                </div>
                <div class="spacer spacer--32"></div>
            </div>
        </aside>
    </div>
    <section class="four-steps">
        <div class="four-steps__inner">
            <div class="spacer spacer--64"></div>
            <div class="container">
                <h2 class="four-steps__title">Установка системы безопасности за 4 шага</h2>
                <ul class="dropcards-list">
                    <li>
                        <p class="dropcards-list__text">
                            принимаем заявку и выезжаем на объект для осмотра и составления сметы
                        </p>
                    </li>
                    <li>
                        <p class="dropcards-list__text">
                            согласовываем оборудование и работы в зависимости от поставленных задач
                        </p>
                    </li>
                    <li>
                        <p class="dropcards-list__text">
                            монтажная бригада в согласованные сроки выполняет монтаж и сдает объект
                        </p>
                    </li>
                    <li>
                        <p class="dropcards-list__text">
                            наши специалисты настраивают систему и обучают ваших сотрудников пользоваться ПО и оборудованием 
                        </p>
                    </li>
                </ul>
            </div>
            <div class="spacer spacer--64"></div>
        </div>
    </section>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>