{{ partial "head.html" . }}
<body class="page">
    {{ partial "header.html" . }}
    <div class="page__layout-container container">
        <main class="page__main main">
            <div class="main__inner">
                <ul class="breadcrumbs">
                    <li>
                        <a class="link breadcrumbs__link link link--dark" href="/">Главная</a>
                    </li>
                    <li>
                        <a  class="link breadcrumbs__link link link--dark">Услуги</a>
                    </li>
                </ul>
                <section>
                    <h1 class="visually-hidden">Our services</h1>
                    <p>
                        Компания СекьюритиМастер специализируется на услугах в сфере внедрения на предприятиях охранных систем и видеонаблюдения. Мы выполняем <b>полный комплекс монтажных работ</b>:
                    </p>
                    <ul>
                        <li>
                            предварительный выезд на объект с целью осмотра и планирования;
                        </li>
                        <li>
                            подбор и покупка необходимого оборудования для видеонаблюдения и комплектующих;
                        </li>
                        <li>
                            обеспечение энергоснабжения системы и непосредственная установка систем видеонаблюдения и прочего оборудования согласно плану;
                        </li>
                        <li>
                            подключение систем видеонаблюдения и наладка охранных систем;
                        </li>
                        <li>
                            установка необходимого программного обеспечения;
                        </li>
                        <li>
                            подключение охранной системы к сети предприятия или к интернету для обеспечения удаленного контроля.
                        </li>
                    </ul>
                    <p>
                        СекьюритиМастер всегда идет в ногу со временем: мы предлагаем широкий выбор технических средств для <b>установки видеонаблюдения и систем безопасности</b>. Новейшие ip камеры, видеорегистраторы, биометрические системы контроля доступа и высокоэффективные охранные сигнализации - далеко не полный список того, что мы можем Вам предложить. За время существования нашей компании нам удалось наладить надежные связи с ведущими производителями оборудования для охранной сферы, поэтому мы можем предложить конкурентные цены на все товары. <b>Стоимость монтажа видеонаблюдения</b>, в связи с этим, также <b>остается доступной</b>. Долгосрочное сотрудничество с нашей компанией гарантирует ряд преимуществ в финансовом плане.
                    </p>
                    <p>
                        Профессионализм и <b>большой опыт наших монтажников</b> позволяет нам решить вопросы с установкой систем видеонаблюдения и охраны любой сложности. Нам доверяют установку интегрированных систем видеонаблюдения на крупных промышленных предприятиях, в административных зданиях, торговых залах и на улицах.
                    </p>
 
                    <p>
                        Ответственный подход к поставленным задачам обеспечивает наилучший результат работы в  <b>короткие сроки</b>. Разветвленная структура нашей компании и возможность привлечения нескольких монтажных бригад позволяют нам максимально быстро проводить установку видеонаблюдения и охранных систем вне зависимости от сложности и объема работ.
                    </p>
                    <p>
                        Наши специалисты готовы выполнить не только технические задания по установке системы, но и наладить ее эффективное функционирование. Мы устанавливаем все необходимые программы для управления системой охраны и производим обучение охранного персонала предприятия. На все установочные работы компания <b>СекьюритиМастер предоставляет длительную гарантию</b> с возможностью послегарантийного обслуживания, модернизации или расширения системы на выгодных условиях. Мы с радостью ответим на Ваши вопросы по телефонам или по электронной почте.
                    </p> 
                </section>
            </div>
        </main>
        <aside class="page__aside aside">
            <div class="aside__inner">
                <div class="spacer spacer--16"></div>
                <h2 class="visually-hidden">Aditional info</h2>
                <div class="aside__block">
                    <h3>УСЛУГИ</h3>
                    <ul class="yellow-list">
                        <li>
                            <a class="link link--white" href="#">Установка электромагнитных / электромеханических замков</a>
                        </li>
                        <li>
                            <a  class="link link--white" href="#">Системы контроля доступа</a>
                        </li>
                        <li>
                            <a  class="link link--white" href="#">Монтаж систем видеонаблюдения</a>
                        </li>
                        <li>
                            <a  class="link link--white" href="#">IP видеонаблюдение</a>
                        </li>
                        <li>
                            <a  class="link link--white" href="#">Охранные системы, сигнализации</a>
                        </li>
                        <li>
                            <a  class="link link--white" href="#">Системы распознавания автомобильных номеров</a>
                        </li>
                    </ul>
                </div>
                <div class="divider divider--full" role="separator">
                    <div class="divider__inner divider__inner--dark"></div>
                </div>
                <div class="aside__block">
                    <h3>ГОТОВЫЕ РЕШЕНИЯ</h3>
                    <p>
                        <a  class="link link--white" href="#">Комплект электромагнитного замка TML-200</a>
                    </p>
                    <p>
                        <a  class="link link--white" href="#">Комплект электромагнитного замка TML-300LED</a>
                    </p>
                </div>
                <div class="divider divider--full" role="separator">
                    <div class="divider__inner divider__inner--dark"></div>
                </div>
                <div class="aside__block">
                    <h3>ТЕГИ</h3>
                    <ul class="tags">
                        <li>
                            <a class="tag" href="#">Наши работы</a>
                        </li>
                        <li>
                            <a class="tag" href="#">Новости</a>
                        </li>
                        <!-- <li>
                            <a class="tag" href="#">Business</a>
                        </li>
                        <li>
                            <a class="tag" href="#">Guard</a>
                        </li>
                        <li>
                            <a class="tag" href="#">Lock</a>
                        </li>
                        <li>
                            <a class="tag" href="#">Personal</a>
                        </li>
                        <li>
                            <a class="tag" href="#">System</a>
                        </li> -->
                    </ul>
                </div>
                <div class="spacer spacer--32"></div>
            </div>
        </aside>
    </div>
    <section class="four-steps">
        <div class="four-steps__inner">
            <div class="spacer spacer--64"></div>
            <div class="container">
                <h2 class="four-steps__title">Установка системы безопасности за 4 шага</h2>
                <ul class="dropcards-list">
                    <li>
                        <p class="dropcards-list__text">
                            принимаем заявку и выезжаем на объект для осмотра и составления сметы
                        </p>
                    </li>
                    <li>
                        <p class="dropcards-list__text">
                            согласовываем оборудование и работы в зависимости от поставленных задач
                        </p>
                    </li>
                    <li>
                        <p class="dropcards-list__text">
                            монтажная бригада в согласованные сроки выполняет монтаж и сдает объект
                        </p>
                    </li>
                    <li>
                        <p class="dropcards-list__text">
                            наши специалисты настраивают систему и обучают ваших сотрудников пользоваться ПО и оборудованием 
                        </p>
                    </li>
                </ul>
            </div>
            <div class="spacer spacer--64"></div>
        </div>
    </section>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>