{{ partial "head.html" . }}
<body class="page">
    <div class="container">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
        <h2 class="title-line">
            title-line
        </h2>
        <h2>Text</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt tempora maxime nulla. Minima sit impedit hic quia, voluptatibus nihil exercitationem deserunt enim tempora vero veniam voluptatem voluptates reprehenderit voluptate sunt.
        </p>
        <p>
            Lorem ipsum dolor sit amet, <b>consectetur</b> adipisicing elit. <i>Incidunt</i> tempora maxime nulla. Minima sit impedit hic quia, voluptatibus nihil exercitationem deserunt enim tempora vero veniam voluptatem voluptates reprehenderit voluptate sunt.
        </p>
        <h2>List</h2>
        <h3>Default lists</h3>
        <ul>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
        </ul>
        <ol>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
        </ol>
        <h3>Custom lists</h3>
        <ul class="list-checkbox">
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore cum accusamus quo atque fugiat, animi sapiente totam voluptatum consequuntur doloribus libero id eius quasi cumque alias temporibus quos ea porro!</li>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore cum accusamus quo atque fugiat, animi sapiente totam voluptatum consequuntur doloribus libero id eius quasi cumque alias temporibus quos ea porro!</li>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore cum accusamus quo atque fugiat, animi sapiente totam voluptatum consequuntur doloribus libero id eius quasi cumque alias temporibus quos ea porro!</li>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore cum accusamus quo atque fugiat, animi sapiente totam voluptatum consequuntur doloribus libero id eius quasi cumque alias temporibus quos ea porro!</li>
        </ul>
        <div class="dimensional-container">
            <ul class="dropcards-list">
                <li>
                    <p class="dropcards-list__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsam blanditiis dolorum accusamus incidunt, nihil molestiae ex quas reiciendis maxime ullam dicta earum fugit voluptatibus non magnam numquam. Adipisci, provident.
                    </p>
                </li>
                <li>
                    <p class="dropcards-list__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsam blanditiis dolorum accusamus incidunt, nihil molestiae ex quas reiciendis maxime ullam dicta earum fugit voluptatibus non magnam numquam. Adipisci, provident.
                    </p>
                </li>
                <li>
                    <p class="dropcards-list__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsam blanditiis dolorum accusamus incidunt, nihil molestiae ex quas reiciendis maxime ullam dicta earum fugit voluptatibus non magnam numquam. Adipisci, provident.
                    </p>
                </li>
                <li>
                    <p class="dropcards-list__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsam blanditiis dolorum accusamus incidunt, nihil molestiae ex quas reiciendis maxime ullam dicta earum fugit voluptatibus non magnam numquam. Adipisci, provident.
                    </p>
                </li>
            </ul>
        </div>
        <div class="dimensional-container" style="background-color: #292734;">
            <ul class="yellow-list">
                <li>
                    <a class="link link--white" href="#">Alarm Systems</a>
                </li>
                <li>
                    <a class="link link--white" href="#">Car Door Locks</a>
                </li>
                <li>
                    <a class="link link--white" href="#">Safe Locks</a>
                </li>
                <li>
                    <a class="link link--white" href="#">Security</a>
                </li>
                <li>
                    <a class="link link--white" href="#">Soundproof</a>
                </li>
                <li>
                    <a class="link link--white" href="#">Trending</a>
                </li>
            </ul>
        </div>
        <h2>Buttons + links</h2>
        <h3>Buttons</h3>
        <div class="dimensional-container">
            <a class="button button--yellow-navy" href="#">link</a>
        </div>
        <div class="dimensional-container">
            <button class="button button--yellow-navy" type="button">button</button>
        </div>
        <div class="dimensional-container">
            <button class="button button--yellow-navy" type="button" disabled>button</button>
        </div>
        <div class="dimensional-container" style="background-color: #292734;">
            <a class="button button--small button--yellow-lightnavy" href="#">link</a>
        </div>
        <div class="dimensional-container" style="background-color: #292734;">
            <button class="button button--small button--yellow-lightnavy" type="button">button</button>
        </div>
        <div class="dimensional-container" style="background-color: #292734;">
            <button class="button button--small button--yellow-lightnavy" type="button" disabled>button</button>
        </div>
        <div class="dimensional-container">
            <a class="button button--navy-yellow" href="#">link</a>
        </div>
        <div class="dimensional-container">
            <button class="button button--navy-yellow" type="button">button</button>
        </div>
        <div class="dimensional-container">
            <button class="button button--navy-yellow" type="button" disabled>button</button>
        </div>
        <h3>Links</h3>
        <div class="dimensional-container">
            <a class="link link--dark" href="#">link</a>
        </div>
        <div class="dimensional-container" style="background-color: #292734;">
            <a class="link link--white" href="#">link</a>
        </div>
        <p style="background-color: #292734; color: #FFFFFF;">white link should be used on dark background</p>
        <h3>Tags</h3>
        <div class="dimensional-container" style="background-color: #292734;">
            <ul class="tags">
                <li>
                    <a class="tag" href="#">Alarm</a>
                </li>
                <li>
                    <a class="tag" href="#">Auto</a>
                </li>
                <li>
                    <a class="tag" href="#">Business</a>
                </li>
                <li>
                    <a class="tag" href="#">Guard</a>
                </li>
                <li>
                    <a class="tag" href="#">Lock</a>
                </li>
                <li>
                    <a class="tag" href="#">Personal</a>
                </li>
                <li>
                    <a class="tag" href="#">System</a>
                </li>
            </ul>
        </div>
        <h3>breadcrumbs</h3>
        <ul class="breadcrumbs">
            <li>
                <a class="link breadcrumbs__link link link--dark" href="/">Link 1</a>
            </li>
            <li>
                <a class="link breadcrumbs__link link link--dark" href="/">Link 2</a>
            </li>
            <li>
                <a class="link breadcrumbs__link link link--dark">Current link</a>
            </li>
        </ul>
        <h2>Fields</h2>
        <div class="dimensional-container">
            <label class="visually-hidden" for="input-text">
                Enter some text
            </label>
            <input class="field" type="text" name="input-text" id="input-text" placeholder="Some text">
        </div>
        <div class="dimensional-container">
            <label class="visually-hidden" for="textarea">
                Enter some text
            </label>
            <textarea class="field" name="textarea" id="textarea" placeholder="Your Message"></textarea>
        </div>
        <div class="dimensional-container" style="background-color: #292734;">
            <div class="subsribe">
                <form method="POST" action="https://some-site.com">
                    <div class="subsribe__field-container">
                        <label class="visually-hidden" for="subscribe-email">
                            Enter your email to subscribe</label>
                        <input class="subsribe__field" name="subscribe-email" id="subscribe-email" type="email" placeholder="Your Email" required="">
                        <button class="button button--small button--yellow-lightnavy" type="submit">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
        <h2>Cards</h2>
        <div class="dimensional-container">
            <div class="dark-card">
                <a class="dark-card__link" href="#">
                    <div class="dark-card__img">
                        <div class="dark-card__img-inner">
                        </div>
                    </div>
                    <h3 class="dark-card__title">
                        Title
                    </h3>
                    <p class="dark-card__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, voluptate nam repudiandae, debitis tempore autem necessitatibus aliquid, cupiditate praesentium illo dignissimos! Cum praesentium, ipsam assumenda sequi ex aperiam maiores repellat.
                    </p>
                </a>
            </div>
        </div>
        <div class="spacer spacer--16"></div>
        <div class="dimensional-container" style="background-color: #fafafa;">
            <div class="light-card">
                <a class="light-card__link" href="#">
                    <div class="light-card__image">
                        <div class="light-card__image-mask">
                            <span class="light-card__image-dots"></span>
                        </div>
                        <img src="{{ .Site.BaseURL }}img/customer-card-1.jpeg" alt="Electronic Security">
                    </div>
                    <div class="light-card__content">
                        <h3>Electronic Security</h3>
                        <p>Lorem ipsum consectetur adipisicing elit, sed do eiusmod tempor incidi dunt ut labore et dolore m aliqua.</p>
                        <div class="dimensional-container">
                            <span class="button button--navy-yellow">Read more</span>
                        </div>                                    
                    </div>
                </a>
            </div>
        </div>
        <div class="spacer spacer--16"></div>
        <div class="dimensional-container" style="background-color: #fafafa;">
            <div class="equipment-card">
                <div class="equipment-card__inner">
                    <div class="equipment-card__image">
                        <div class="equipment-card__image-inner">
                            <img src="{{ .Site.BaseURL }}img/mock-equipment.jpeg" alt="Manufacturer image">
                        </div>
                    </div>
                    <div class="equipment__content">
                        <h3>Title</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium esse reprehenderit amet id aliquid est porro repellat. Aperiam earum iusto, molestias deleniti velit non, aspernatur adipisci accusantium, impedit atque distinctio!</p>
                        <div class="dimensional-container">
                            <a class="button button--yellow-navy" href="#">link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer spacer--16"></div>
        <div class="dimensional-container">
            <div class="shop-card">
                <div class="shop-card__inner">
                    <div class="shop-card__image">
                        <div class="shop-card__image-inner">
                            <img src="{{ .Site.BaseURL }}img/shop-card-1.jpeg" alt="Post image">
                        </div>
                    </div>
                    <div class="shop-card__content">
                        <h3>Title</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium esse reprehenderit amet id aliquid est porro repellat. Aperiam earum iusto, molestias deleniti velit non, aspernatur adipisci accusantium, impedit atque distinctio!</p>
                        <div class="shop-card__buttons-container">
                            <div class="dimensional-container">
                                <a class="button button--navy-yellow" href="#">Buy now</a>
                            </div>
                            <div class="dimensional-container">
                                <a class="shop-card__link link link--dark" href="#">
                                    More from the section your works
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2>Dividers</h2>
        <div class="divider" role="separator">
            <div class="divider__inner divider__inner--dark"></div>
        </div>
        <div class="divider" role="separator">
            <div class="divider__inner divider__inner--grey"></div>
        </div>
        <div class="divider divider--full" role="separator">
            <div class="divider__inner divider__inner--dark"></div>
        </div>
        <div class="divider divider--full" role="separator">
            <div class="divider__inner divider__inner--grey"></div>
        </div>
        <h2>Google-map</h2>
    </div>
    <div class="google-map" style="position: relative; width: 100%; padding-bottom: 500px; background-color: #e6e4e0; overflow: hidden;">
        <img src="{{ .Site.BaseURL }}img/map.png" width="1440" height="500" alt="Our address: 1260 Broadway, New York, NY 10001, USA" style="position: absolute; z-index: 1; width: 100%; height: 100%; object-fit: cover;">
        <p class="google-map__tooltip" style="position: absolute; bottom: 0; left: 50%; z-index: 2; color: #4C4B51; background-color: #FFFFFF; transform: translateX(-50%);">
            <a href="https://goo.gl/maps/QZn8ocutPTSyaxqUA">Our address: 1260 Broadway, New York, NY 10001, USA</a>
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6045.234397907164!2d-73.987694!3d40.748448!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDDCsDQ0JzU0LjQiTiA3M8KwNTknMTUuNyJX!5e0!3m2!1sru!2sua!4v1615474074974!5m2!1sru!2sua" height="500" style="position: absolute; z-index: 3; display: block; width: 100%; border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</body>
</html>