<footer class="page__footer footer">
    <h2 class="visually-hidden">Additional info</h2>
    <div class="footer__inner">
        <div class="spacer spacer--64"></div>
        <div class="container footer__container">
            <div class="footer__contact">
                <div class="footer__logo">
                    <div class="dimensional-container">
                        <a href="#">
                            <img src="{{ .Site.BaseURL }}img/logo-white.png" alt="Security master" width="189" height="37">
                        </a>
                    </div>
                </div>
                <address class="footer__contact-links">
                    <p>
                        <a class="footer__contact-link footer__contact-link--address link link--white" href="https://goo.gl/maps/z5Ycx4HnaimHkLrR9">
                            г. Киев, Никольско-Слободская 1а
                        </a>
                    </p>
                    <p>
                        <a class="footer__contact-link footer__contact-link--address link link--white" href="https://goo.gl/maps/K6HhiqqmR4MzeofNA">
                            г. Харьков, Конева 4
                        </a>
                    </p>
                    <p>
                        <a class="footer__contact-link footer__contact-link--phone link link--white" href="tel:+38001234567">
                            (066)&nbsp557&nbsp10&nbsp46
                        </a>
                    </p>
                    <p>
                        <a class="footer__contact-link footer__contact-link--phone link link--white" href="tel:+38001234567">
                            (098)&nbsp591&nbsp48&nbsp19
                        </a>
                    </p>
                </address>
            </div>
            <div class="spacer spacer--32 footer__spacer footer__spacer--mobile"></div>
            <div class="footer__navigation">
                <h3>
                    Карта сайта
                </h3>
                <div class="spacer spacer--16"></div>
                <ul class="footer__navigation-links">
                    <li>
                        <a class="footer__navigation-link link link--white" href="#">
                            Главная
                        </a>
                    </li>
                    <li>
                        <a class="footer__navigation-link link link--white" href="#">
                            О компании
                        </a>
                    </li>
                    <li>
                        <a class="footer__navigation-link link link--white" href="#">
                            Услуги
                        </a>
                    </li>
                    <li>
                        <a class="footer__navigation-link link link--white" href="#">
                            Оборудование
                        </a>
                    </li>
                    <li>
                        <a class="footer__navigation-link link link--white" href="#">
                            Пресс-центр
                        </a>
                    </li>
                    <li>
                        <a class="footer__navigation-link link link--white" href="#">
                            Контакты
                        </a>
                    </li>
                </ul>
            </div>
            <div class="spacer spacer--32 footer__spacer footer__spacer--tablet"></div>
            <div class="footer__social">
                <h3>
                    Поделится в соцсетях
                </h3>
                <div class="spacer spacer--16"></div>
                <ul class="footer__social-links">
                    <li>
                        <a class="footer__social-link footer__social-link--facebook" href="#">
                            <span class="visually-hidden">
                                Facebook
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="footer__social-link footer__social-link--instagram" href="#">
                            <span class="visually-hidden">
                                Instagram
                            </span>              
                        </a>
                    </li>
                    <li>
                        <a class="footer__social-link footer__social-link--tumbler" href="#">
                            <span class="visually-hidden">
                                Tumbler
                            </span>    
                        </a>
                    </li>
                    <li>
                        <a class="footer__social-link footer__social-link--twitter" href="#">
                            <span class="visually-hidden">
                                Twitter
                            </span>   
                        </a>
                    </li>
                    <li>
                        <a class="footer__social-link footer__social-link--dribble" href="#">
                            <span class="visually-hidden">
                                Dribble
                            </span> 
                        </a>
                    </li>
                </ul>
            </div>
            <div class="spacer spacer--32 footer__spacer footer__spacer--mobile"></div>
            <div class="footer__subscribe">
                <h3>Подписка на новости</h3>
                <div class="spacer spacer--16"></div>
                <p>Оставайтесь в курсе событий, подпишитесь на наши новости!</p>
                <div class="spacer spacer--16"></div>
                <div class="subsribe dimensional-container">
                    <form method="POST" action="https://some-site.com">
                        <div class="subsribe__field-container">
                            <label class="visually-hidden" for="subscribe-email">
                                Введите ваш адрес, чтобы подписаться
                            </label>
                            <input class="subsribe__field" name="subscribe-email" id="subscribe-email" type="email" placeholder="Ваша почта" required="">
                            <button class="subsribe__submit button button--small button--yellow-lightnavy" type="submit">Подписаться</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="spacer spacer--32 footer__spacer"></div>
            <p class="footer__copyright">Securitymaster © 2021. All rights reserved.</p>
        </div>
        <div class="spacer spacer--64"></div>
    </div>
</footer>