<header class="header">
    <div class="header__container container">
      <div class="header__logo logo" role="banner">
        <a href="/">
          <img src="{{ .Site.BaseURL }}img/logo.png" alt="Security master" width="291" height="60">
        </a>
      </div>
      <div class="header__dropdown-burger burger"></div>
      <div class="header__dropdown-container">
        <div class="header__main-menu-container">
          <nav aria-label="Securitymaster main menu">
            <div class="main-menu__button-container">
            </div>
            <ul class="main-menu" role="menubar" aria-label="Securitymaster main menu">
              <li class="main-menu__item" role="none">
                <a class="link link--dark main-menu__link" href="/about/" role="menuitem">О компании</a>
              </li>
              <li class="main-menu__item" role="none">
                <a class="link link--dark main-menu__link" href="/services/" role="menuitem">Услуги</a>
              </li>
              <li class="main-menu__item" role="none">
                <a class="link link--dark main-menu__link" href="/equipment/" role="menuitem">Оборудование</a>
              </li>
              <li class="main-menu__item" role="none">
                <a class="link link--dark main-menu__link" href="/press-center/" role="menuitem">Пресс-центр</a>
              </li>
              <li class="main-menu__item" role="none">
                <a class="link link--dark main-menu__link" href="/contacts/" role="menuitem">Контакты</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="header__phone-block">
              <a class="link link--dark" href="tel:+380665571046">
                <span>
                  (066)&nbsp557&nbsp10&nbsp46
                </span>
              </a>
              <a class="link link--dark" href="tel:+380985914819">
                  <span>
                    (098)&nbsp591&nbsp48&nbsp19
                  </span>
              </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </header>