<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security master</title>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
    <script>
        var html = document.getElementsByTagName('html');
        if(html.length) {
          html[0].className += html[0].className ? " js" : "js";
        }
    </script>    
</head>